* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /**<font-size: 25px;**/
  font-family: Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  font-size: 30px;
}
a {
  color: white;
}
.pacifico {
  font-family: "Pacifico", cursive;
  font-size: 35px;
  margin-top: 0;
  text-align: center;
}
.main-header {
  background-color: #333497;
  padding-left: 20px;
  padding-right: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
nav {
  height: 100%;
}
.nav-link {
  color: white;
  margin-right: 2px;
  text-decoration: none;
  margin-right: 15px;
  transition: all 0.2s ease-in-out;
}
.nav-link:hover {
  font-size: 17px;
}
.text-center {
  text-align: center;
}
.imagen-logo img {
  height: 350px;
  width: 100%;
  background-position: center;
  object-fit: cover;
}
.red-text {
  color: #ff0000;
  text-align: center;
  margin-top: 0%;
}
.main-container {
  min-height: 100vh;
}
.imagen-logo-catalogo {
  margin-top: 1em;
}
/**Para manipular las imagenes de apoyo**/
.serivicios img {
  text-align: center;
}

.ser-container {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 1px;
  justify-content: center;
  align-items: center;
}
.servicios {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ser-titulo {
  font-size: 25px;
  margin-top: 10px;
}
.servicio {
  width: 350px;
  min-height: 170px;
  border: solid 1px #0e11e9;
  padding: 10px 20px;
  border-radius: 15px;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 10px 4px #000000;
}
.servicio:hover {
  transform: scale(1.1);
}
.servicio h1,
h2 {
  margin-bottom: 8px;
  color: black;
}
.servicio ul {
  margin-left: 15px;
  margin-bottom: 15px;
}
/*----------------slider--------------------*/
.slider-horario {
  display: flex;
  width: 90%;
  column-gap: 30px;
  margin: 25px auto;
}
.slider-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.2s ease-in;
  margin: 10px auto;
  border: solid 1px #0e11e9;
  box-shadow: 0px 3px 10px 4px #000000;s  
}
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lista-h {
  width: 80%;
  margin: 20px;
}
.lista-h li {
  margin-top: 15px;
}
.swiper {
  width: 80%;
  height: 325px;
  margin-top: 10px;
}

.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  width: 100%;
  background-size: 600px;
  background-position: center;
  object-fit: cover;
}

footer {
  width: 100%;
  height: 150px;
  background-color: #333497;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.titulo-footer {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-footer h1 {
  text-transform: uppercase;
}
/**Para modificar el spam del footer **/
.titulo-footer span {
  font-weight: bold;
  color: coral;
  text-transform: initial;
}
/** NO hace nada aparentemente **/
.contacto {
  color: white;
}
/** NO hace nada aparentemente **/
.contacto li {
  margin-top: 5px;
}
/**Tratar de posicionar los elementos "a" que hay en la clase contacto **/
.contacto li a {
  position: fixed;
  right: 35px;
}
