@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

/* Variables globalas para los colores */
:root {
  --primario: #051367;
  --primario2: #da1212;
  --secundario: #dff6ff;
  --blanco: #f8f8f8;
  --negro: #121212;
}

/* regla generenal para dejar la pagina sin estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Tamaño de la funte*/
html {
  font-size: 62.25%;
}
/*Fuente para toda la pagina*/
body {
  font-family: "Monserrat", sans-serif;
  font-size: 1.6rem;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 3.4rem;
  text-align: center;
  font-weight: 700;
}
a {
  color: var(--blanco);
  text-decoration: none;
}

/* Navegacion dispositivos moviles*/
header {
  position: fixed; /**Para dejar fija la barra de navegacion  mientras navego en la pagina **/
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 2000;
}

div.logo-toggle {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  background-color: var(--primario);
}
div.logo-toggle a img {
  max-width: 10rem;
}
div.logo-toggle button {
  background: none;
  border: none;
  color: var(--blanco);
  font-size: 2rem;
}
nav {
  transition: all 400ms;
  background-color: var(--primario2);
  display: none;
}
ul {
  min-height: 25rem;
  list-style: none;
}
ul li {
  padding: 5rem 0 0;
}

div.social {
  padding: 5rem 0;
}
div.social a i {
  font-size: 2rem;
}

.show {
  display: block;
}

/* Navegacion responsive para escritorio */
@media (min-width: 930px) {
  .logo-toggle a:hover {
    padding: 0;
    border-radius: none;
    background: none;
  }
  a:hover {
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--primario);
    background-color: var(--blanco);
    font-weight: 600;
  }
  .active {
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--primario);
    background-color: var(--blanco);
  }
  div.logo-toggle button {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: var(--primario);

    height: 6rem;
    padding: 0 5rem;
  }
  div.logo-toggle {
    background: none;
  }
  nav {
    display: flex;
    margin-right: 0;
    width: 100%;
    justify-content: space-between;
    background: none;
    z-index: 50000;
  }
  ul {
    display: flex;
    gap: 2.5rem;
    min-height: 100%;
  }
  ul li {
    padding: 0;
  }

  ul li a {
    padding: 1rem;
  }

  div.social {
    display: block;
    padding: 0;
  }
  div.social a {
    padding: 1rem;
  }
  div.social a:hover {
    border-radius: none;
    color: var(--blanco);
    background: none;
  }
}

/**Banner**/
.banner {
  background-image: url("../imagenes/Logotipo/banner.jpeg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

div.botones-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}
div.botones-banner a {
  padding: 1rem;
  border: solid 1px var(--blanco);
  border-radius: 0.5rem;
  min-width: 20rem;
  text-align: center;
  box-shadow: 0px 3px 10px 2px var(--negro);
  background-color: var(--primario2);
  color: var(--blanco);
  text-transform: capitalize;
  transition: all 400ms;
}

@media (min-width: 930px) {
  .banner {
    align-items: flex-start;
    padding-left: 5rem;
  }
  div.botones-banner {
    flex-direction: row;
    padding-bottom: 1.5rem;
  }
  div.botones-banner a:hover {
    background-color: var(--blanco);
    color: var(--primario2);
    font-weight: 600;
    border-color: var(--primario2);
  }
}

/*Servicios*/
.servicios-contenedor {
  width: 100%;
  margin: 6rem auto;
  padding-bottom: 6rem;
  box-shadow: 0px 7px 8px -10px rgba(0, 0, 0, 0.8);
}
.servicios-contenedor h1 {
  margin: 0 auto 1.5rem;
  text-transform: uppercase;
}
.servicios-contenedor article {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
}
.servicios-contenedor article div.servicio {
  margin: 1rem auto;
  border: solid 1px var(--primario);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 3px 10px 4px var(--negro);
}
.servicios-contenedor article img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.servicios-contenedor article div h3 {
  font-size: 2.6rem;
  margin: 1rem auto;
  line-height: 2rem;
}
.servicios-contenedor article div p {
  text-align: justify;
  padding: 0 1rem 1rem;
}
/**Navegacion responsive para escritorio para la seccion de servicios**/
@media (min-width: 930px) {
  .servicios-contenedor article {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4.5rem;
  }
  .servicios-contenedor article div p,
  .servicios-contenedor article h3 {
    padding: 0 2.4rem 1rem;
  }
}

/*------SLIDER-----*/
/*Esta clase es el contenedor de toda la seccion*/
.instalaciones-contenedor {
  width: 100%;
  margin: 6rem auto;
  padding-bottom: 1rem;
  box-shadow: 0px 7px 8px -10px rgba(0, 0, 0, 0.8);
}
/*Referencia al titulo de la seccion*/
.instalaciones-contenedor h2 {
  margin: 0 auto 1.5rem;
  justify-content: left;
  text-transform: uppercase;
}
/*referencia al div que contiene las imagenes*/
.instalaciones-contenido {
  width: 100%;
  padding: 0 1rem;
  margin: 2rem auto;
}
.instalaciones-contenido .swiper {
  width: 100%;
  min-height: 40rem;
  border-radius: 1.5rem;
  box-shadow: 0px 3px 10px 4px var(--negro);
}
/*Referencia a las fotos del slider*/
.swiper {
  width: 100%;
  min-height: 40rem;
  border-radius: 1.5rem;
  /*box-shadow: 0px 3px 10px 4px var(--negro);*/
}

.instalaciones-contenedor .swiper-wrapper {
  height: 40rem !important;
  border-radius: 4rem;
}

.swiper-wrapper .swiper-slide {
  width: 100%;
  background-size: 60rem;
  background-position: center;
  object-fit: cover;
}
/*Referencia al texto que acompaña el slider dentro de toda la seccion*/
.instalaciones-texto p {
  margin-top: 2rem;
  padding: 0 1rem 2rem;
  font-size: 1.7rem;
  text-align: justify;
}
/*Responsive*/
@media (min-width: 930px) {
  .instalaciones-contenido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center; /*Alinear en horizontal*/
    align-items: center; /*Alenear en vertical*/
    gap: 5rem;
  }
}

/*Mapa*/
.mapa-contendor {
  width: 100%;
  margin: 6rem auto;
}

.mapa-contenedor h2 {
  font-size: 3.4rem;
  margin: 0 auto 1.5rem;
  text-transform: uppercase;
}

.mapa-ubicacion {
  width: 90%;
  margin: auto;
}
.mapa-texto {
  width: 100%;
}
.mapa-texto ul {
  height: auto;
  min-height: auto;
  margin-bottom: 2rem;
}
.mapa-texto ul li {
  padding: 0.6rem;
  text-transform: capitalize;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
.mapa {
  width: 100%;
  height: 45rem;
  margin-bottom: 6rem;
}
.mapa iframe {
  width: 100%;
  height: 100%;
}
@media (min-width: 930px) {
  .mapa-texto ul {
    display: block;
  }
}

/*----------------------PAGINA ACERCA DE-----------------------------*/
.nosotros-container {
  width: 100%;
  padding: 5rem 2rem;
  box-shadow: 0px 7px 8px -10px rgba(0, 0, 0, 0.8);
}
.nosotros-container:nth-child(2),
.nosotros-container:nth-child(3) {
  padding: 0 2rem 5rem;
}
.nosotros-container h1,
h2 {
  width: 100%;
  margin: 2rem auto;
  text-align: center;
  text-transform: uppercase;
}
.nosotros-container article {
  width: 100%;
  display: grid;
  grid-template-columns: 1 fr;
  gap: 2rem;
}
section .imagen img {
  width: 100%;
  object-fit: cover;
  border-radius: 2rem;
  box-shadow: 0px 3px 10px 4px var(--negro);
  margin: 2rem auto;
}
.nosotros-container .texto {
  text-align: justify;
}

/*Resposive para escritorio*/
@media (min-width: 930px) {
  .nosotros-container article {
    /*grid-template-columns: 1fr 1fr; forma numero 1*/
    grid-template-columns: repeat(2, 1fr);
    justify-content: center; /*Alinear los hijos horizantal*/
    align-items: center; /*Alinear los hijos en vertical*/
    padding: 0 4rem;
  }
  .nosotros-container h1,
  h2 {
    margin: 4rem auto 0;
  }
  section .imagen {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section .imagen img {
    max-width: 40rem;
  }
  .nosotros-container .texto {
    line-height: 2.5rem;
  }
}

/*----------------------------------CATALOGO-------------------------*/

/*-----Vista movil-----*/

/*Referencia al contenedor de la seccion*/
.catalogo-container {
  width: 100%;
  padding: 1rem;
  display: grid;
  gap: 4rem;
}

section h2 {
  margin: 6rem auto 0;
}
/*Referencia al titulo de la chica*/
.swiper-slide h2 {
  justify-content: center;
  margin: 0 auto;
}

.swiper-slide {
  display: grid;
  justify-content: center;
  padding-bottom: 3rem;
}

.swiper-slide img {
  width: 32rem;
  height: 32rem;
  margin: 2rem auto;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 3px 15px 4px var(--negro);
  padding: 1rem;
}
.info-container {
  width: 90%;
  display: grid;
  margin: 2rem auto;
  border-radius: 2rem;
  border: solid 1px var(--primario);
  box-shadow: 0px 3px 10px 4px var(--negro);
  align-items: center;
  justify-items: center;
}
.info-container p {
  text-align: justify;
  width: 90%;
  margin-top: 2rem;
}
.info-container a {
  width: 10rem;
  margin: 2rem 0;
  padding: 1rem;
  border: solid 1px var(--blanco);
  border-radius: 0.8rem;
  text-align: center;
  box-shadow: 0px 3px 10px 2px var(--negro);
  background-color: var(--primario2);
  color: var(--blanco);
  text-transform: capitalize;
  transition: all 400ms;
  align-items: center;
  justify-items: center;
}

/*-----vista desktop responsive------*/
@media (min-width: 930px) {
  .catalogo-container {
    width: 100%;
    margin-top: 1rem auto;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .swiper {
    margin: 1rem auto;
  }
  /*Referencia al titulo de la chica*/
  .swiper-slide h2 {
    align-items: center;
  }
  .swiper-slide {
    display: grid;
  }
  .info-container {
    width: 90%;
    font-size: 2rem;
    align-items: center;
  }

  .info-container a {
    width: 15rem;
    padding: 1rem;
    border: solid 1px var(--blanco);
    border-radius: 0.8rem;
    text-align: center;
    box-shadow: 0px 3px 10px 2px var(--negro);
    background-color: var(--primario2);
    color: var(--blanco);
    text-transform: capitalize;
    transition: all 400ms;
  }
}
/*---------------------------TRABAJA CON NOSOTROS-----------------------*/
.hero {
  background-image: url(../imagenes/home/logo_1.jpg);
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  display: flex;
  align-items: center;
}

.hero-text {
  width: 50%;
  padding: 0 5rem;
}
.hero-title {
  display: flex;
  font-size: 2.8rem;
  letter-spacing: 2px; /*Espaciado entre las letras*/
  text-align: justify;
  color: #fff;
}
.hero-subtitle {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
}
/*cta = al llamado a la accion, es el boton de "Join us"*/
.hero-cta {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none; /*sin decoracion el texto*/
  color: rgb(248, 248, 248); /*color de la fuente*/
  margin: auto;
  padding: 1rem 1rem; /*espacio desde las letras de 10px arriba y abajo, y 30px a los lados*/
  border: 3px solid; /*dibuja el contorno del recuadro del boton*/
  border-radius: 6px; /* suaviza las esquinas del recuadro*/
  display: inline-block; /*no se bien*/
  transition: background-color 0.3s; /*tardara 0.3 segundos para hacer la transicion cuando pase el mouse*/
}

/*para cuando pase el mouse por encima del boton cambie el fondo del boton*/
.hero-cta:hover {
  background-color: #fff; /*Fondo de color blanco cuando pase el mouse*/
  color: #1e3c72; /**/
}

@media (max-width: 640px) {
  .hero {
    background-position: right center;
    align-items: flex-end;
    filter: brightness(0.8);
  }
  .hero-text {
    width: 100%;
    padding: 0 2rem;
  }
  .hero-title {
    font-size: 1.5rem;
  }
  .hero-cta {
    width: 100%;
    margin-bottom: 0.8rem;
    text-align: center;
  }
}

/*-------------------------FOOTER-------------------------*/
/**Footer para dispositivos moviles**/
footer {
  background-color: var(--primario);
  text-align: center;
}
.titulo-footer h1 {
  color: var(--blanco);
  font-size: 2rem;
  padding: 1.5rem;
  text-transform: uppercase;
}
.titulo-footer h1 span {
  color: var(--primario2);
  display: block;
}
footer ul.contacto {
  padding: 1rem;
  min-height: 20rem !important;
}
ul.contacto li {
  color: var(--blanco);
  padding-top: 2rem;
}
ul.contacto li a {
  display: block;
  text-decoration: underline;
}

/**Footer para pantallas grandes**/
@media (min-width: 930px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center; /** organizo horizontal cada hijo del footer**/
    align-items: center; /** organizo vertical cada hijo del footer**/
  }
  footer ul.contacto {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    text-align: left;
    list-style: disc;
    justify-content: center;
  }
  footer ul.contacto li {
    padding: 0;
  }
  footer ul.contacto li a {
    display: inline;
  }
}
