.hero {
  background-image: url(../imagenes/home/logo_1.jpg);
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  display: flex;
  align-items: center;
}

.hero-text {
  width: 50%;
  padding: 0 5rem;
}
.hero-title {
  display: flex;
  font-size: 2.8rem;
  letter-spacing: 2px; /*Espaciado entre las letras*/
  text-align: justify;
  color: #fff;
}
.hero-subtitle {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
}
/*cta = al llamado a la accion, es el boton de "Join us"*/
.hero-cta {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none; /*sin decoracion el texto*/
  color: rgb(248, 248, 248); /*color de la fuente*/
  margin: auto;
  padding: 1rem 1rem; /*espacio desde las letras de 10px arriba y abajo, y 30px a los lados*/
  border: 3px solid; /*dibuja el contorno del recuadro del boton*/
  border-radius: 6px; /* suaviza las esquinas del recuadro*/
  display: inline-block; /*no se bien*/
  transition: background-color 0.3s; /*tardara 0.3 segundos para hacer la transicion cuando pase el mouse*/
}

/*para cuando pase el mouse por encima del boton cambie el fondo del boton*/
.hero-cta:hover {
  background-color: #fff; /*Fondo de color blanco cuando pase el mouse*/
  color: #1e3c72; /**/
}

@media (max-width: 640px) {
  .hero {
    background-position: right center;
    align-items: flex-end;
    filter: brightness(0.8);
  }
  .hero-text {
    width: 100%;
    padding: 0 2rem;
  }
  .hero-title {
    font-size: 1.5rem;
  }
  .hero-cta {
    width: 100%;
    margin-bottom: 0.8rem;
    text-align: center;
  }
}
